* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 64px;
    min-width: 100%;
    min-height: 1024px;
    background-color: hsl(228, 33%, 97%);
    font-family: 'Rubik';
}

.bar-1 {
    width: 730px;
    height: 167px;
    /*box-shadow: 0px 0px 7px hsl(223, 19%, 93%);*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #ffffff;
    padding-left: 24px;
    padding-top: 24px;
}


/*.group-bar1-and-bar2{
    width: 730px;
    height: 354px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group-bar3{
    height:354px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}*/

.group-all{
    height: 896px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating{
    width:40px;
    height: 100px;
    background-color: hsl(228, 33%, 97%);
    border-radius: 10px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color:hsl(239, 57%, 85%);
}

.number{
    color: #5357B6;
}

.content_1{
    width: 682px;
    height:119px;
    display: flex;
    justify-content: space-between;
}

.textbod{
    width: 618px;
    height: 72px;
    color: hsl(211, 10%, 45%);
    font-size: 16px;
}


.reply{
    width: 618px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rep1{
    width: 243px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*.user-name, .time{
    position: relative;
    top:4px;
}*/

.user-name{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 500;
}

.time{
    color: hsl(211, 10%, 45%);
}

.content{
    display: flex;
    width: 618px;
    height: 119px;
    flex-direction: column;
    justify-content: space-between;
}

.rep2{
    width: 66px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #5357B6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rep2, .user-name, .amyrobimage, .plus, .minus:hover{
    cursor: pointer;
}



/*----------------------------------------------------------------------------------------------------------*/



.bar-2 {
    width: 730px;
    height: 167px;
    /*box-shadow: 0px 0px 7px hsl(223, 19%, 93%);*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #ffffff;
    padding-left: 24px;
    padding-top: 24px;
}


/*----------------------------------------------------------------------------------------------------------*/

.bar-3 {
    width: 642px;
    height: 167px;
    /*box-shadow: 0px 0px 7px hsl(223, 19%, 93%);*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #ffffff;
    padding-left: 24px;
    padding-top: 24px;
}


.reply1{
    width: 537px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.textbod1{
    width: 537px;
    height: 72px;
    color: hsl(211, 10%, 45%);
    font-size: 16px;
}

.refer{
    font-size: 16px;
    font-weight: 500;
    color: #5357B6;
}


/*----------------------------------------------------------------------------------------------------------*/



.bar-user-comment {
    width: 642px;
    height: 167px;
    /*box-shadow: 0px 0px 7px hsl(223, 19%, 93%);*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #ffffff;
    padding-left: 24px;
    padding-top: 24px;
}
